@import "navigation";
@import "grid";
@import "button";
@import "drivers";
@import "jobs";
@import "map";

$header-background-color: #e06857;
$title-color: #e06857;
$info-box-background-color: #d6d6d6;
$info-inner-box-background-color: #ffffff;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Source Sans Pro" !important;
}

header {
  background-color: $header-background-color;
  padding: 0 20px;
  display: block;
  font-weight: 400;
  width: 100%;
}

main {
  display: block;
}

body {
  margin: 0;
}

input {
  width: 90%;
  height: 36px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid gray;
  outline: 0;
  vertical-align: middle;
  font-size: 16px;
}

#search, #menu {
  text-align: center;
}

.info-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 14px;
  color: $title-color;
}
.info-element {
  padding: 20px 0;
  margin: auto;
}

.info-box {
  background-color: $info-box-background-color;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin: 10px auto; 
}

.info-inner-box {
  padding: 5px 5px;
  background-color: $info-inner-box-background-color;
  border-radius: 5px;  
  line-height: 20px;
  font-size: 12px;
}